@font-face {
    font-family: Profontwindows;
    src: url('../fonts/ProfontwindowsBold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Profontwindows;
    src: url('../fonts/Profontwindows.ttf');
    font-weight: 400;
}

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: 400;
}