// spacing
$spacer: 1rem; // 16px

// colors
$primaryBgColor: #000;
$primaryTextColor: #fff;
$secondaryTextColor: #828282;
$primaryActiveColor: #fff;
$errorColor: #EB5757;

// font
$primaryFontFamily: "OpenSans";
$fontWeightNormal: 400;
$fontSizeNormal: 16px;
$fontWeightBold: 500;

// carousel
$carouselControlPadding: 0.2rem 0.5rem;
$carousel-control-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

// container
$containerWidth: 1140px;
// -----------
